.cardsContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cardContainer {
  width: 100%;
  position: relative;
  height: 216px;
  background-color: var(--par-color);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .cardContainer {
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .cardContainer {
    height: 216px;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .cardContainer {
    height: 160px;
  }
}

.cardContainer img:first-child {
  position: absolute;
}
.heroCard {
  position: relative;
  height: 250px;
  background-color: var(--par-color);
  grid-column: span 3 / span 3;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .heroCard {
    height: 138px;
    grid-column: span 2 / span 2;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .heroCard {
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .heroCard {
    height: 250px;
    grid-column: span 2 / span 2;
  }
}

.heroCard img {
  opacity: 60%;
}
.content {
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  height: fit-content;
}
@media (max-width: 768px) {
  .content {
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content {
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 992px) and (max-width: 1700px) {
  .content {
    width: 75%;
  }
}


.content h1 {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 1.64rem;
  line-height: 1.68rem;
  color: var(--background-color);
}
.content p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1rem;
  color: var(--background-color);
}
.cardsContainer img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.chContent {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding-bottom: 20px;
}
.chContent img {
  width: 20px;
  height: 20px;
}
.chContent p {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: var(--background-color);
}
