.heroBtn {
  background-color: var(--se-text-color);
  width: 220px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  padding: 28px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.05rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.heroBtn:hover {
  width: 230px;
}
